body{
    margin: 0px;
    padding: 0px;
    border: none;
    background: url(./wallpaperbetter.jpg);
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 700;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    max-width: 160px;
    margin-top: 5px;
}
button{
    width: 40px;
    height: 40px;
    background-color: lightblue; /* Green */
    border: 1px solid cornsilk;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 15px;
    transition: 0.9s;
}
button:hover{
    border-radius: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 266px;
    background: cornsilk;
    border-radius: 20px;

}
.textInput{
    width: 160px;
    height: 30px;
    border: 0px solid cyan;
    border-radius: 10px;
    opacity: 0.9;
    background-color: darkorange;
    color: cornsilk;
    font-size: 16px;
    font-weight: 700
}
.textInput:focus{
    outline: none;
}


